[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-generativeai = "*"
python-dotenv = "*"
flask = "*"
feedparser = "*"
edge-tts = "*"
pipfile = "*"
gtts = "*"
pydub = "*"
google-auth = "*"
google-auth-oauthlib = "*"
requests = "*"
oauthlib = "*"
bleach = "*"
flask-cors = "*"
pandas = "*"
numpy = "*"
folium = "*"
ipython = "*"
plotly = "*"
pytest = "*"
pytest-flask = "*"
flask-session = "*"
flask-login = "*"
bs4 = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.12"
