{% extends 'base.html' %}

{% block header %}
  <div class="header-container">
    <h1>{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
      <a class="action-button" href="{{ url_for('blog.create') }}">New Post</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<div class="posts-container">
  {% for post in posts %}
    <article class="editor-container">
      <header>
        <div class="post-header-content">
          <h2 class="blog-title">
            <a href="{{ url_for('blog.view', id=post['id']) }}">
              {{ post['title'] }}
            </a>
          </h2>
          <div class="about">
            by <a href="{{ url_for('auth.profile', user_id=post['author_id']) }}" 
               class="author-link">{{ post['username'] }}</a>
            on <span class="post-date">{{ post['created'].strftime('%Y-%m-%d') }}</span>
          </div>
        </div>
        {% if g.user and g.user['id'] == post['author_id'] %}
          <a class="action-button" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      
      {% if post['images'] %}
        <div class="post-gallery">
          {% for image in post['images'][:3] %}
            <div class="image-container">
              <img src="{{ url_for('static', filename=image) }}" 
                   alt="Image from {{ post['title'] }}"
                   class="post-image">
            </div>
          {% endfor %}
          {% if post['images']|length > 3 %}
            <div class="more-images">+{{ post['images']|length - 3 }} more</div>
          {% endif %}
        </div>
      {% endif %}
      
      <div class="blog-content">
        {{ post['body']|truncate(200)|safe }}
      </div>
      <a href="{{ url_for('blog.view', id=post['id']) }}" 
         class="action-button">Read more</a>
    </article>
  {% endfor %}
</div>
{% endblock %}
